*{
padding: 0;
margin: 0;
}


.hero {
  background-image: url(./assets/images/header-slide.jpg);
  height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

}

.hero-b {
  font-family: Muli, sans-serif;
  font-size: 12px;
  line-height: 16.5px;
  text-align: center;
  color: #ffffff;
  background: #ff7236;
  box-shadow: none;
  padding: 12px;
  width: 10%;
  border: 0;
  margin-left: 530px;
}


.hero-c {
  font-family: Muli, sans-serif;
  font-size: 12px;
  line-height: 16.5px;
  text-align: center;
  color: black;
  background: white;
  box-shadow: none;
  padding: 12px;
  width: 10%;
  border: 0;
  margin-left: 10px;
}

.book-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.book-form label {
  flex-basis: 48%;
}

.book-form input,
.book-form select,
.book-form textarea {
  flex-basis: 48%;
  margin-bottom: 15px;
  padding: 8px;
}

.img {
  background-image: url(./assets/images/form.jpg);
  height: 120vh;
  background-size: 100vh;
  background-size: cover;
  padding-top: 50px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.edit {
  background-image: url(./assets/images/form.jpg);
  height: 100vh;

}

.real-img {
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
padding-top: 20px;
}

.release-section {
  background-image: url(./assets/images/hero2.jpg);
  height: 120vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 20PX;
}
.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.fav {
  background-image: url(./assets/images/form.jpg);
  height: 100vh;
}

.book-detail {
  background-image: url(./assets/images/form.jpg);
  height: 100vh;

}

.book-list {
  background-image: url(./assets/images/form.jpg);
  height: 100vh;
}

.register {
  background-image: url(./assets/images/form.jpg);
  height: 140vh;

}

.login {
  background-image: url(./assets/images/form.jpg);
  height: 100vh;
}

/* .mirror {
  border: 1px solid #ff7236;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 10px;
  backdrop-filter: sepia(100%);
} */

.books{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row: 10px;
  box-shadow: 10px 10px 5px #2D2013;
}

.books-img {
  width: 100%;
  height: 50%;
  transform: translate(-120px);

}