*{
padding: 0;
margin: 0;
}


.hero {
  background-image: url(./assets/images/header-slide.jpg);
  height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

}

.hero-b {
  font-family: Muli, sans-serif;
  font-size: 12px;
  line-height: 16.5px;
  text-align: center;
  color: #ffffff;
  background: #ff7236;
  box-shadow: none;
  padding: 12px;
  width: 10%;
  border: 0;
  margin-left: 530px;
}


.hero-c {
  font-family: Muli, sans-serif;
  font-size: 12px;
  line-height: 16.5px;
  text-align: center;
  color: black;
  background: white;
  box-shadow: none;
  padding: 12px;
  width: 10%;
  border: 0;
  margin-left: 10px;
}

.book-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.book-form label {
  flex-basis: 48%;
}

.book-form input,
.book-form select,
.book-form textarea {
  flex-basis: 48%;
  margin-bottom: 15px;
  padding: 8px;
}

.img {
  background-image: url(./assets/images/form.jpg);
  width: 50vw;
}

.edit {
  background-image: url(./assets/images/form.jpg);
  height: 100vh;
}

.real-img {
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
padding-top: 20px;
}

.release-section {
  background-image: url(./assets/images/hero2.jpg);
  height: 120vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 20PX;
}
.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

